<footer class="footer">
    <div class="footer-content">
      <div class="footer-section about">
        <h3>Dragon Ball</h3>
        <p>M    anga escrito e ilustrado por Akira Toriyama. </p>
      </div>
      <div class="footer-section links">
        <h4>Enlaces</h4>
        <ul>
          <li><a href="#">Inicio</a></li>
        </ul>
      </div>
      <div class="footer-section social">
        <h4>Síganme</h4>
        <div class="social-links">
          <a href="https://www.facebook.com/profile.php?id=100043847075928&locale=es_LA"><img src="assets/facebook-icon.webp" alt="Facebook"></a>
          <a href="https://www.linkedin.com/in/christian-ra%C3%BAl-mendoza-ramirez-39980a2a1?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app "><img src="assets/linkedin-icon.webp" alt="Twitter"></a>
          <a href="https://www.instagram.com/chris_anito/profilecard/?igsh=MW52eG81c3lrNGJ6eg=="><img src="assets/instagram-icon.png" alt="Instagram"></a>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      &copy; 2024 Christian Mendoza | Todos los derechos reservados.
    </div>
  </footer>
  