<div class="cards-container">
    <div class="card">
      <img src="./assets/sayans.avif" alt="Imagen Card 1" />
      <div class="card-content">
        <h3>Sayayines</h3>
        <p>Son una de las razas ficticias de guerreros más fuertes que existe en la serie de Dragon Ball; habitaban el Planeta Vegeta hasta su destrucción a manos de Freeza, el emperador del espacio.</p>
      </div>
    </div>
    <div class="card">
      <img src="./assets/humanos.jpg" alt="Imagen Card 2" />
      <div class="card-content">
        <h3>Humanos</h3>
        <p>Los terrícolas son los habitantes y oriundos de la Tierra. Los hay de tres tipos: terrícola de tipo humano, los terrícolas de tipo animal y los terrícolas de tipo monstruo (cuya clasificación incluye también a los de subtipo humanoide y de subtipo bestia), así como a los licanos, respectivamente.</p>
      </div>
    </div>
    <div class="card">
      <img src="./assets/dioses.jpg" alt="Imagen Card 3" />
      <div class="card-content">
        <h3>Dioses de la destrucción</h3>
        <p>Es el título otorgado a los seres de un poder excepcional, capaces de destruir la vida o los planetas en los universos, a diferencia de los Dioses de la Creación quienes crean vida, con el fin de mantener el equilibrio de sus universos; teniendo total control sobre ellos aunque están sujetos al Rey de Todo quien está por encima de ellos, al Rey de Todo del Futuro y al Gran Sacerdote quienes son sus superiores.</p>
      </div>
    </div>
  </div>
  